/*========================================
          general
==========================================*/

body {
	/*font-family: 'Oswald', sans-serif;*/
	font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-color:hsl(203, 14%, 14%);
	padding-top:0px;
	color:hsl(45, 100%, 97%);
	font-size:16px;
}

.navbar{
	border:0px;
	margin-bottom: 49px;
    margin-top: 34px;
}
.navbar-default{
	box-shadow:none;
	background-image:none;
	background-color:transparent;
}

.form-group > input[type="text"]{
	background-color: hsl(203, 14%, 14%);
    border-color: -moz-use-text-color -moz-use-text-color hsl(45, 3%, 36%);
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 0px;
    box-shadow:none;
    color:hsl(45,100%,97%);
    margin: 0;
    padding: 0 10px;
    width: 125px;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a{
	text-shadow:none;
	color:#777;
	text-align: center;
}

.navbar-default .navbar-nav > li > a:hover{
	text-decoration:underline;
	color:#bbb;
}

.navbar-default .navbar-nav > .active > a:hover{
	background-color:transparent;
	color:hsl(45,100%,97%);
}

.navbar-default .navbar-nav > .active > a{
	background-color:transparent;
	background-image:none;
	box-shadow:none;
	color:hsl(45,100%,97%);
	text-decoration:underline;
}

.navbar .btn-default{
	background-color: hsl(203, 14%, 14%);
    border-color: -moz-use-text-color -moz-use-text-color hsl(45, 3%, 36%);
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    background-image:none;
    text-shadow:none;
    box-shadow:none;
    display:none;
    margin: 0;
    padding: 0 10px;
    width: 30px;
}

.navbar > .container .navbar-brand{
	text-shadow:none;
	color:hsl(45,100%,97%);
	font-size:60px;
}

.navbar-default .navbar-text{
	color:hsl(45,100%,97%) !important;
    font-size: 16px;
}

.navbar-form .form-control{
	display:none;
}

.navbar-form.navbar-right {
    margin-right: 0px;
    
}

.navbar-nav {
    float: right;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none;
	border-color:transparent;
	box-shadow:none;
	padding-left:0px;
}


@media (max-width: 768px) {
	.navbar-nav {
	    float: left;
	    margin-left: 0;
    	margin-right: 0;
    	width: 100%;
	}
	
	.navbar-default .navbar-nav > li{
		border-bottom:solid 1px hsl(203, 14%, 23%);
	}
	
	.navbar-default .navbar-nav > li a:hover{
		background-color: hsl(203, 14%, 23%);
	}
	.navbar-default .navbar-nav > .active > a:hover{
		background-color: hsl(203, 14%, 23%);
	}
	.navbar-form.navbar-right {
        margin-bottom: -24px;
    	padding-left: 20px;
	}
	
	div.form-group{
		border-bottom:solid 1px hsl(203, 14%, 23%);
	}
    .form-group > input[type="text"]{
    	width:100%;
    	max-width:none;
    	text-align: center;
	}
			
}


.maincontent{
	/*background-color:hsl(45,100%,97%);*/
}

.img-responsive.notfound{
	height:72%;
}

.selectionbuttons{
	
    border-color: #ddd;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px 9px 0px;
    position: absolute;
    z-index: 3;
}
.selectionbuttons.collapsable{
	background-image: url("/static/images/90_procent_translucent.png");
	 padding-left:26px;
}

.selectionbuttons.collapsed{	
    background-image: none;
}

div .selectionbuttons.collapsable .selectionbutton{
		width:100%;
}


div .selectionbutton{
	cursor: pointer; cursor: hand;
	font-size:14px;
	margin-bottom: 5px;
	margin-left:5px;
	margin-right:5px;
	text-align:left;
	color:hsl(42, 3%, 56%);
	overflow:hidden;
	height: 25px;
	float:left;

}

div .selectionbutton:hover{
	color:hsl(42, 3%, 55%);
	text-decoration:underline;
}

div .selectionbutton.selected{
	color:hsl(42, 3%, 90%);
	text-decoration:underline;
}

.selectionbuttons-toggle{
 	background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    height: 16px;
    margin-bottom: 8px;
    margin-right: 11px;
    margin-top: 22px;
    padding: 3px 2px;
    position: relative;
    width: 17px;
    z-index: 4;
}
.selectionbuttons-toggle.collapsed{
	padding: 3px;
}

.selectionbuttons-toggle .triangle{
	margin-left:auto;
	margin-right:auto;
	border:5px solid transparent;
	border-top:10px solid #777;
	position:absolute;	
}

.selectionbuttons-toggle.collapsed .triangle{
	
	border:5px solid transparent;
	border-left:11px solid #777;
		
}

.selectioncontainer{
	height: 48px;
}

.selectioncontainer div, .selectioncontainer button{
	float:left;
}
.selectioncontainer{
	width:100%;
	overflow: hidden;
}




.greyoutpanel{
	opacity: 1;
    filter: alpha(opacity=1); /* msie */
	background-color: #cbcbd2;
}

.greyoutpanel:hover{
	opacity: 1;
    filter: alpha(opacity=1.0); /* msie */
}

.project-title-bar{
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    cursor: pointer; cursor: hand;
    font-size:18px;
    opacity: 0;
    
}
.project-title-bar .text{
	background-image: url("/static/images/40_procent_translucent.png");
  	background-repeat: repeat; 
	padding-left: 1ex;
    padding-right: 1ex;
	display:inline-block;

}
.project-title-bar .text a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

@media (min-width: 768px) {
  footer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  footer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  footer {
    width: 1170px;
  }
}

footer{
	margin-top:0px;
	border-top:0px;
	margin:0 auto;
	padding-bottom:10px;
	border-top: 0px #eae8e3 solid;
	background-color:transparent;
	color:#cbcbd2;
}

.site-info {
    font-size: 73%;
    margin-top: 53px;
}

a {
	
  color:#efd442;
  color:#e58938;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f19442;
  text-decoration: underline;
}


.projectnotfoundtext{
	position:absolute;	
	top:10%;
	margin-left:10%;
	margin-right:10%;
	font-size:1.5vw;
	
}
footer .contactlink{
	float:right;
	margin-right:10px;
}

/*========================================
          MEZZANINE GALLERY
==========================================*/

.gallery .thumbnail {
  margin: 0 0;
  padding: 0px;
  margin-bottom: 0px;
  border: 0px solid #ddd;
  border-radius: 0px;
}

.gallery{
	/*background-color:white*/
}

.gallery-content{
	margin-right:3px;
}

.container {
  padding-left:0px;
  padding-right:0px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
  	padding-left: 0px;
}
    

.gallery .thumbnail > img {
  width: 100%;
}
.gallery .porfoliothumb > img{
	/*width:250px;*/
}


