/*========================================
          general
==========================================*/

body {
	/*font-family: 'Oswald', sans-serif;*/
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:hsl(203, 14%, 14%);
	overflow-y:scroll;
	padding-top:0px;
}

.navbar{
	border:0px;
	margin-top:30px;
}
.navbar-default{
	box-shadow:none;
	background-image:none;
	background-color:transparent;
}

.form-group > input[type="text"]{
	background-color: #fffdf7;
}

.navbar > .container .navbar-brand{
	text-shadow:none;
	color:#fffdf7;
	font-size:52px;
}

.navbar-default .navbar-nav > li > a{
	text-shadow:none;
	color:#fffdf7;
}

.navbar-default .navbar-text{
	color:#fffdf7 !important;
}

.navbar-form .form-control{
	display:none;
}

.navbar-form.navbar-right {
    margin-right: 0px;
}

.navbar-nav {
    /*float: right;*/
}



.maincontent{
	/*background-color:#fffdf7;*/
}

.img-responsive.notfound{
	height:72%;
}

.selectionbuttons{
	
	padding-top:8px;
}

div .selectionbutton{
	cursor: pointer; cursor: hand;
	font-size:14px;
	margin-bottom: 5px;
	margin-left:10px;
	text-align:left;
	color:hsl(42, 3%, 43%);
	overflow:hidden;
	height: 25px;
	float:left;
}

div .selectionbutton:hover{
	color:hsl(42, 3%, 55%);
	text-decoration:underline;
}

div .selectionbutton.selected{
	color:hsl(42, 3%, 70%);
	text-decoration:underline;
}

.greyoutpanel{
	opacity: 1;
    filter: alpha(opacity=1); /* msie */
	background-color: #cbcbd2;
}

.greyoutpanel:hover{
	opacity: 1;
    filter: alpha(opacity=1.0); /* msie */
}

@media (min-width: 768px) {
  footer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  footer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  footer {
    width: 1170px;
  }
}

footer{
	margin-top:0px;
	border-top:0px;
	margin:0 auto;
	padding-bottom:10px;
	border-top: 1px #eae8e3 solid;
	background-color:transparent;
	color:#cbcbd2;
}

.site-info {
    font-size: 73%;
    margin-top: 53px;
}

a {
	
  color:#efd442;
  color:#e58938;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f19442;
  text-decoration: underline;
}


.projectnotfoundtext{
	position:absolute;	
	top:10%;
	margin-left:10%;
	margin-right:10%;
	font-size:1.5vw;
	
}
footer .contactlink{
	float:right;
	margin-right:10px;
}

/*========================================
          MEZZANINE GALLERY
==========================================*/

.gallery .thumbnail {
  margin: 0 0;
  padding: 0px;
  margin-bottom: 0px;
  border: 0px solid #ddd;
  border-radius: 0px;
}

.gallery{
	/*background-color:white*/
}
.container {
  padding-left:0px;
  padding-right:0px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
  	padding-left: 0px;
}
    

.gallery .thumbnail > img {
  width: 100%;
}
.gallery .porfoliothumb > img{
	/*width:250px;*/
}


