{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

<p>
<div class="gallery row">

{% for gallery in all_galleries %}
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <a class="thumbnail porfoliothumb" rel="#image-{{ gallery.title }}" title="{{ gallery.title }}" href="{{ gallery.get_absolute_url }}">
        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail gallery.featured_image 250 180 %}">
    </a>
</div>
{% endfor %}

{% endblock %}
